<div id="container">
  <form #widgetForm="ngForm" (ngSubmit)="saveWidget(widgetForm)">
    <div class="widget-field">
      <label for="favColor" class="field-label">Color</label>
      <p-floatlabel>
        <p-select 
          id="favColor"
          class="w-4/6"
          #favColor="ngModel"
          [(ngModel)]="newWidget.selectedColor"
          [options]="colors"
          [showClear]="true"
          optionLabel="name"
          optionValue="value"
          placeholder="Select color"
          name="favColor"
          inputId="favColor"
          [required]="true"
          [class.ng-dirty]="favColor.dirty"
          [class.ng-invalid]="favColor.invalid"
        ></p-select>
        <label for="favColor">Select a color</label>
      </p-floatlabel>
    </div>

    <div class="widget-field">
      <label for="favDate" class="field-label">Date</label>
      <p-floatlabel>
         <p-datePicker
          id="favDate"
          [(ngModel)]="newWidget.selectedDate"
          [showIcon]="true"
          view="month"
          baseZIndex="9999"
          dateFormat="M yy"
          name="favDate"
          [required]="true"
          [showClear]="true"
        ></p-datePicker>
        <label for="favDate">Select Month and Year</label>
      </p-floatlabel>
    </div>

    <div class="widget-field">
      <label for="comment" class="field-label">Comment</label>
      <p-floatlabel>
        <textarea
          pTextarea
          id="comment"
          rows="3"
          cols="52"
          [(ngModel)]="newWidget.comment"
          name="comment"
          [required]="true"
        ></textarea>
        <label for="comment">Enter comment</label>
      </p-floatlabel>
    </div>

    <button type="submit" class="upload-button">SAVE</button>
  </form>
</div>

<pre>{{ newWidget | json }}</pre>